.container{
    margin-top: 10vh;
}
.aboutUsBackground {
    min-height: 90vh;
    /* background-image: url('../../../images/about-us.jpg'); */
    background: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('../../../images/about-us.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutUsText {
    width: 50%;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    word-spacing: 0.2rem;
}
@media screen and (max-width: 750px) {
    .aboutUsText {
        width: 75%;
    }
}
@media screen and (max-width: 620px) {
    .aboutUsText {
        width: 85%;
    }
}
@media screen and (max-width: 450px) {
    .aboutUsText {
        width: 100%;
    }
}
