.room {
    box-shadow:2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.3s linear;
  }
  .room:hover {
    box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  }
  
  .imgContainer {
    position: relative;
    /* z-index: -1; */
  }
  .imgContainer img {
    width: 100%;
    display: block;
    transition: all 0.3s linear;
  }
  .priceTop {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 0.3rem 0.6rem 0.5rem;
    border-bottom-right-radius: 1rem;
    font-size: 0.5rem;
    text-align: center;
    transition: all 0.3s linear;
  }
  .priceTop h6 {
    margin-bottom: 0;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 3px;
  }
  .roomLink {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0);
    transition: all 0.3s linear;
  }
  .imgContainer:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  .imgContainer:hover img {
    opacity: 0.3;
  }
  .imgContainer:hover .priceTop {
    opacity: 0;
  }
  .imgContainer:hover .roomLink {
    transform: translate(-50%, -50%) scale(1);
  }
  .roomInfo {
    background: #282828;
    color: white;
    text-transform: capitalize;
    padding: 0.5rem 0;
    text-align: center;
    letter-spacing: 3px;
  }

.btnFeatured {
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3px;
    color: #fff;
    background: transparent;
    padding: 0.4rem 0.9rem;
    border: 2px solid #fff;
    transition: all 0.3s linear;
    text-transform: uppercase;
    cursor: pointer;
  }
  .btnFeatured:hover{
    padding: 0.4rem 1.3rem;
  }
